<a href="https://colab.research.google.com/github/ekrell/intro-python-msgso/blob/main/Intro_Python_Workshop_0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Intro to Python Workshop

Brought to you by [iCORE](http://icore.tamucc.edu/) & [MSGSO](https://msgsoresearchforum.wixsite.com/msgsosymposium/about)

## Part 1: Python Basics

- Programming with Python version 3
- Basics of the [Python Standard Library](https://docs.python.org/3/library/index.html)

**Code & Comments**

In [ ]:
print("This is a line of code that will execute.")

# This is just a comment for human readers that Python skips
# It is a good idea to comment frequently to document your code.

print(10 / 3)   # You can place comments after a line, but not before

This is a line of code that will execute.
3.3333333333333335

**Variables**

- Named variables store values.
- These values have types such as integers, booleans, floats, and strings
- We don't have to tell it what the type is. Python figures it out.

In [ ]:
# Integer
variable_1 = 45
print(variable_1)

# Floating point (float)
variable_2 = 10.34
print(variable_2)

# String
variable_3 = "Hello world"
print(variable_3)

# Boolean (bool)
variable_4 = True
print(variable_4)

45
10.34
Hello world
True

**Formatting**

- A newline ends a line of code.
- Indentation is used to indicate code blocks (called scope)

In [ ]:
# Code snippet with indentation

a = 11
b = 10

if a < 10:
  print("Inside the scope")

print("Outside the scope")

Outside the scope

**Changing our variables**

In [ ]:
# What did we assign earlier?
print(variable_1)

# We can update that variable
variable_1 = variable_1 + 10
print(variable_1)

# We can completely change that variable to another type
variable_1 = "I am now a string"
print(variable_1)

45
55
I am now a string

**Numbers**

- 'Int': ingeger values
- 'Float': floating point numbers (one or more decimals)

In [ ]:
x = 5
y = 8.0

print(type(x))
print(type(y))

<class 'int'>
<class 'float'>

In [ ]:
# Type conversions
a = int(y)
print(a)

# We can skip assignment and print directly
print(float(x))

# You can also directly specify the type (called "casting")
x = float(5)
print(x)

8
5.0
5.0

In [ ]:
# Converting strings to numbers
str_a, str_b, str_c = "48", "12.67", "seagull"

print(str_a, str_b, str_c)
print()
# print(int(str_a), int(str_b), int(str_c))        # 2 errors
print()
# print(float(str_a), float(str_b), float(str_c))  # 1 error

48 12.67 seagull

**Strings**

In [ ]:
# Strings are sequences of characters

single_char = "a"

multi_char = "sea surface temperature"

number = "23"

kirby = "<('.')>"

empty = ""

whitespace = "   "

specials = "crabs\t10\t4.5\nshrimps\t30\t6.5\nclams\t4\t0.5"
print(specials)

crabs	10	4.5
shrimps	30	6.5
clams	4	0.5

In [ ]:
# Escape characters
print("\"Dubliners\" by James Joyce.")

print("You can make a tab with \\t")

# For quotes, you can also alternate single & double
print('I am within "single quotes"')
print("I am within 'double quotes'")

"Dubliners" by James Joyce.
You can make a tab with \t
I am within "single quotes"
I am within 'double quotes'

**String operations**

In [ ]:
# Slicing

string = "The Pines of Rome"
print(string[4:9])

# 0-based counting!
print(string[0:9])  # Start with 0
print(string[1:9])  # Start with 1

# One-side slicing
print(string[4:])   # Trim start
print(string[:10])  # Trim end

# Negative indexing
print(string[-4:])

Pines
The Pines
he Pines
Pines of Rome
The Pines
Rome

In [ ]:
# Modifying

string = "    innovation in COmputer REsearch (iCORE)"
print(string)

# upper case
print(string.upper())

# lower case
print(string.lower())

# Remove surrounding whitespace
print(string.strip())

    innovation in COmputer REsearch (iCORE)
    INNOVATION IN COMPUTER RESEARCH (ICORE)
    innovation in computer research (icore)
innovation in COmputer REsearch (iCORE)

The above are examples of string methods, of which there are [many](https://www.w3schools.com/python/python_strings_methods.asp).

In [ ]:
# Replace string
string = "Hello, World!"
print(string.replace("Hello", "Hola"))

# What if we have multiple?
string = "10 dollars, 20 dollars, 30 dollars"
print(string.replace("dollars", "pesos"))

Hola, World!
10 pesos, 20 pesos, 30 pesos

In [ ]:
# Split: turns a string into a list of substrings
string = "dogs,cats,rabbits"
print(string.split(","))

# we will learn more about lists later

['dogs', 'cats', 'rabbits']

In [ ]:
# Concatenating

name = "iCORE"
url = "http://icore.tamucc.edu/"

string = name + "\t" + "(" + url + ")"
print(string)

iCORE	(http://icore.tamucc.edu/)

In [ ]:
# Formatting
name = "White's tree frog"
sciname = "Litoria caerulea"
score = 10
print(f"{name} ({sciname}) is a {10}/10 frog.")

# Can include a formatting modifier
result = 10 / 3
print(f"Result = {result}")
print(f"Result = {result:.4f}")

White's tree frog (Litoria caerulea) is a 10/10 frog.
Result = 3.3333333333333335
Result = 3.3333

**Booleans**

- Booleans have two types: true or false
- Storing (yes/no) values is fundamental to how computers work
- We will use them extensively in Python for program flow control

In [ ]:
# True
is_valid = True

# False
is_valid = False

# As a result
result = 1000 > 4
print(result)

True

In [ ]:
# Boolean operator: 'and'
print(True and True)
print(True and False)
print(False and True)
print(False and False)

True
False
False
False

In [ ]:
# Boolean operator: 'or'
print(True or True)
print(True or False)
print(False or True)
print(False or False)

True
True
True
False

In [ ]:
# Boolean operator 'not'
print(not True)
print(not False)

False
True

**Operators**

In [ ]:
# Basic arithmetic
print(100 + 10)
print(100 - 10)
print(100 * 10)
print(100 / 10)
print(100 + 10 + 1)

print()

# Modulus
print(4 % 2, 8 % 2)
print(5 % 2, 9 % 2)

print()

# Exponentiation
print(10**2)
print(10**10)

print()

# Floor division (a.k.a. integer division)
print(4 / 2, 9 / 2)     # Normal
print(4 // 2, 9 // 2)   # Floor  (changes the type to int!)

110
90
1000
10.0
111

0 0
1 1

100
10000000000

2.0 4.5
2 4

In [ ]:
# Comparison
x = 20
y = 40

print(x == y)
print(x != y)
print(x <  y)
print(x >  y)
print(x >= y)
print(x <= y)

# They turn into booleans!

False
True
True
False
False
True

In [ ]:
# And so we can apply our Boolean operators
# (also called logical operators)

print(x)
print(x < 30 and x < 10)
print(x < 30 or x < 10)
print(not(x < 30))

20
False
True
False

In [ ]:
# Order of operations
result_1 = (10 + 10) / 5
result_2 = (10 + 10 / 5)

print(result_1, result_2)

4.0 12.0

**Lists**

- Ordered
- Changeable
- Allows duplicates

Lists are ordered sequences, NOT sets!

In [ ]:
# Make a list
tea_types = ["green", "oolong", "black", "puerh"]
print(tea_types)

['green', 'oolong', 'black', 'puerh']

In [ ]:
# Print a value
print(tea_types[2])

print(tea_types[-1])

black
puerh

In [ ]:
# Modify a list
tea_types[0] = "purple"   # Purple tea is a real thing, a mutation of the leaves
print(tea_types)

['purple', 'oolong', 'black', 'puerh']

In [ ]:
# Check list length
print(len(tea_types))

4

In [ ]:
# Data types
ints = [10, 20, 30, 40]
mixed = ["hello", 50, True, 8.2]
print(mixed)

print(type(mixed))

['hello', 50, True, 8.2]
<class 'list'>

In [ ]:
# Index ranges
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])
print(thislist[:4])
print(thislist[2:])

['cherry', 'orange', 'kiwi']
['apple', 'banana', 'cherry', 'orange']
['cherry', 'orange', 'kiwi', 'melon', 'mango']

In [ ]:
# Membership operators

check_1 = "apple" in thislist
check_2 = "snowcone" in thislist

print(check_1, check_2)

True False

In [ ]:
# Increasing length of list

tea_types = ["green",
             "oolong",
             "black",
             "puerh"]

# Append (to the end)
tea_types.append("yellow")
print(tea_types)

# Insert (to a location)
tea_types.insert(1, "red")
print(tea_types)

# Extend
dimsum1 = ["siu mai", "char siu bao", "ma lai go"]
dimsum2 = ["lo bak go", "har gow", "feng zhua"]
dimsum1.extend(dimsum2)
print(dimsum1)

['green', 'oolong', 'black', 'puerh', 'yellow']
['green', 'red', 'oolong', 'black', 'puerh', 'yellow']
['siu mai', 'char siu bao', 'ma lai go', 'lo bak go', 'har gow', 'feng zhua']

In [ ]:
# Sort lists

# Alpha sort
dimsum1.sort()
print(dimsum1)

# Reverse it
dimsum1.sort(reverse=True)

# Sort numbers
nums = [2, 7, 3, 7, 2, 3, 9, 3, 76, 3]
print(nums)
nums.sort()
print(nums)
nums.sort(reverse=True)
print(nums)

# Reverse (not based on alpha or numeric --> just reverses)
nums = [2, 7, 3, 7, 2, 3, 9, 3, 76, 3]
nums.reverse()
print(nums)

['char siu bao', 'feng zhua', 'har gow', 'lo bak go', 'ma lai go', 'siu mai']
[2, 7, 3, 7, 2, 3, 9, 3, 76, 3]
[2, 2, 3, 3, 3, 3, 7, 7, 9, 76]
[76, 9, 7, 7, 3, 3, 3, 3, 2, 2]
[3, 76, 3, 9, 3, 2, 7, 3, 7, 2]

In [ ]:
# Copy lists

dimsum_copy = dimsum1.copy()

In [ ]:
# Remove items

# By value
dimsum1.remove("lo bak go")
print(dimsum1)

# By index
dimsum1.pop(0)
print(dimsum1)

# Clear all
dimsum1.clear()
print(dimsum1)

# What about our copy?
print(dimsum_copy)

['siu mai', 'ma lai go', 'har gow', 'feng zhua', 'char siu bao']
['ma lai go', 'har gow', 'feng zhua', 'char siu bao']
[]
['siu mai', 'ma lai go', 'lo bak go', 'har gow', 'feng zhua', 'char siu bao']

**Tuples**

- Like lists, but **immutable**  --> faster
- Lists use brackets: `[ item, item ]`
- Tuples use parantheses: `( item, item )`

In [ ]:
list_1 = [12, 19]
print("list:", list_1)

tuple_1 = (12, 19)
print("tuple:", tuple_1)

list_1[0] = 55
#tuple_1[0] = 55

list: [12, 19]
tuple: (12, 19)

**For Loops**

In [ ]:
# Loop over a sequence
for index in range(10):
  print(index)

0
1
2
3
4
5
6
7
8
9

In [ ]:
# Nested loop
for i in range(3):
  print(f"{i}:", end="")
  for j in range(4):
    print(f" {j}", end="")
  print()

0: 0 1 2 3
1: 0 1 2 3
2: 0 1 2 3

In [ ]:
# Loop over elements of a list
fishes = ["redfish", "flounder", "lizardfish", "oyster toadfish"]
for fish in fishes:
  print(fish)

redfish
flounder
lizardfish
oyster toadfish

In [ ]:
# Loop over elements with an index
for i in range(len(fishes)):
  print(f"{i}:  {fishes[i]}")

0:  redfish
1:  flounder
2:  lizardfish
3:  oyster toadfish

In [ ]:
# A convenient alternative that uses 'enumerate'
for i, fish in enumerate(fishes):
  print(f"{i}:  {fish}")

0:  redfish
1:  flounder
2:  lizardfish
3:  oyster toadfish

In [ ]:
# Loop with conditions
for i, fish in enumerate(fishes):
  if i % 2 == 0:
    print(fish)

print()

for i, fish in enumerate(fishes):
  if i % 2 != 0:
    print(fish)

redfish
lizardfish

flounder
oyster toadfish

**While loops**

In [ ]:
# Super simple while loop
counter = 0
while counter < 10:
  print(counter)
  counter = counter + 1

0
1
2
3
4
5
6
7
8
9

In [ ]:
import random

i = 0
while i != 5:
  i = random.randint(0, 10)
  print(i)

0
10
10
9
4
0
5

**Conditions**

In [ ]:
# Basic If
a = 33
b = 200
if b > a:
  print("b is greater than a")

b is greater than a

In [ ]:
# If...Elif
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

a and b are equal

In [ ]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

In [ ]:
# Combos: And, Or, Not

# And
a = 77
b = 7
if (a > b) and b != 0:
  c = a / b
  print(c)

print("\n")

# Or
animals = ["cat", "crocodile", "bunny", "scorpion"]

for animal in animals:
  if animal == "cat" or animal == "bunny":
    print(f"Pet the {animal}!")
  else:
    print(f"Do not pet the {animal}!")

print("\n")

# Not
for animal in animals:
  if not (animal == "cat" or animal == "bunny"):
    print(f"Pet the {animal}!")
  else:
    print(f"Do not pet the {animal}!")

11.0


Pet the cat!
Do not pet the crocodile!
Pet the bunny!
Do not pet the scorpion!


Do not pet the cat!
Pet the crocodile!
Do not pet the bunny!
Pet the scorpion!

In [ ]:
# Nested conditions

games = [
    ["Animal Crossing", 60.0, "*****"],
    ["Stardew Valley", 9.99, "*****"],
    ["Pocky and Rocky", 19.99, "*****"],
    ["Kamiko", 4.99, "**"]
]

# Let's find a game < $30 and with five stars

for game in games:
  if game[1] <= 30.0:
    num_stars = len(game[2])
    if num_stars >= 5:
      print(game)

['Stardew Valley', 9.99, '*****']
['Pocky and Rocky', 19.99, '*****']

**Functions**

In [ ]:
def calc_mean(numbers):
  # numbers: a List of numbers

  total = 0
  for number in numbers:
    total = total + number

  mean = total / len(numbers)
  return mean

In [ ]:
ages = [10, 11, 10, 14, 8, 5, 6, 9]

mean_age = calc_mean(ages)
print(mean_age)

9.125

In [ ]:
def calc_mean_2(numbers, skip_flag="?"):
  # numbers: a List of numbers

  total = 0
  skips = 0
  for number in numbers:
    if number != skip_flag:
      total = total + number
    else:
      skips = skips + 1

  mean = total / (len(numbers) - skips)
  return mean

In [ ]:
ages = [10, 11, 10, "?", 14, 8, "?", 5, 6, 9]

# This won't work
# mean_age = calc_mean(ages)
# print(mean_age)

# This will
mean_age = calc_mean_2(ages)
print(mean_age)

9.125

- What about files? Python has built-in file handling, of course.
- These open generic data and treat them as a block of generic text.
- For data science, we usually have well-defined formats (e.g. .csv, images, shapefiles, NetCDF, Numpy) and associated libraries for handling them.